/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  background: #ffffff;
  min-width: 320px; }

img {
  max-width: 100%;
  height: auto; }

.page-header {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff; }

.main-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec; }
  .main-nav--closed {
    width: 100%;
    position: relative; }

.main-nav__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background-color: #fff; }

.main-nav__logo {
  width: 100%;
  display: block;
  padding: 22px 0;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .main-nav__logo[href]:hover {
    opacity: 0.6;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
  .main-nav__logo[href]:active {
    opacity: 0.3;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }

.main-nav__toggler {
  position: absolute;
  right: 30px;
  top: 29px;
  display: block;
  padding: 0;
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  font-size: 0;
  z-index: 100;
  cursor: pointer; }

.main-nav--closed .main-nav__toggler-closed {
  display: none; }

.main-nav--opened .main-nav__toggler-opened {
  display: none; }

.main-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left; }

.main-nav__item {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top: 1px solid #ececec; }
  .main-nav__item--search {
    position: relative; }
  .main-nav__item--cart {
    position: relative; }
  .main-nav__item a {
    display: block;
    padding: 30px 0;
    padding-left: 24%;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
    .main-nav__item a:hover {
      opacity: 0.6;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .main-nav__item a:hover svg {
        fill: #56c3b2; }
    .main-nav__item a:active {
      opacity: 0.3; }
      .main-nav__item a:active svg {
        fill: #56c3b2;
        opacity: 0.3; }

.main-nav__icon-search {
  content: "";
  position: absolute;
  top: 30px;
  left: 32px;
  fill: #d3d2d2; }

.main-nav__icon-cart {
  content: "";
  position: absolute;
  top: 32px;
  left: 30px;
  fill: #d3d2d2; }

.main-nav--nojs .main-nav__toggler-closed,
.main-nav--nojs .main-nav__toggler-opened {
  display: none; }

.main-nav--closed .main-nav__list {
  display: none; }

.main-nav--closed .main-nav__item {
  display: none; }

.promo {
  margin: 0;
  padding: 0;
  background-color: #ececec; }
  .promo--index {
    background: #ececec url("../img/hero-mobile@1x.jpg") top center no-repeat;
    background-size: cover; }

.promo__wrapper {
  padding-top: 75px;
  padding-bottom: 75px; }
  .promo__wrapper--index {
    padding-bottom: 0; }

.promo__title {
  width: 81.25%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  line-height: 32px; }
  .promo__title--index {
    margin-bottom: 120px; }

.promo__shifting {
  display: none; }

.promo__links {
  display: none; }

.promo__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.promo__item {
  position: relative;
  margin: 0; }

.promo__icon {
  content: "";
  position: absolute;
  width: 41px;
  height: 62px;
  right: 9%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #149080; }
  .promo__icon--toy {
    width: 61px;
    height: 61px; }

.promo__item-link {
  position: relative;
  display: block;
  padding: 30px 9%;
  width: 100%;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  background-color: #63d1bb;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .promo__item-link:hover {
    bottom: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #59d5bc; }
  .promo__item-link:active {
    color: #8be2d0;
    background-color: #59d5bc;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .promo__item-link--color {
    background-color: #56c3b2; }
    .promo__item-link--color:hover {
      background-color: #46c1ae; }
    .promo__item-link--color:active {
      background-color: #46c1ae; }

.promo__item-link:hover + .promo__icon {
  fill: #29a592; }

.promo__item-link:active + .promo__icon {
  fill: #44c0aa; }

.promo__item-link--color:hover + .promo__icon {
  fill: #29a592; }

.promo__item-link--color:active + .promo__icon {
  fill: #37b2a0; }

.product {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  border-bottom: 10px solid grey;
  -o-border-image: url("../img/bg-zigzag-line.svg") 10 100 repeat;
     border-image: url("../img/bg-zigzag-line.svg") 10 100 repeat;
  border-image-slice: 25; }

.product__wrapper {
  width: 81.25%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left; }

.product__title {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px; }
  .product__title span {
    display: block;
    margin-top: 12px;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: #63d1bb; }

.product__desc {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px; }

.product__text {
  margin: 0;
  margin-bottom: 30px; }

.product__specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 28px; }

.product__specs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #ececec; }
  .product__specs-row span:nth-child(1) {
    width: 95px; }

.product__img {
  text-align: center;
  margin-bottom: 15px; }

.product__price {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; }

.product__btn {
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  font-family: "OpenSans", Arial, sans-serif;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  border: none;
  border: 2px solid #444;
  color: #444;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #000; }
  .product__btn:hover {
    color: #fff;
    background-color: #444;
    border: 2px solid #444;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .product__btn:active {
    color: #fff;
    background-color: #444;
    opacity: 0.3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.advantages {
  margin: 0;
  padding: 0; }

.advantages__wrapper {
  width: 81.25%;
  margin: 0 auto;
  padding: 20px 0; }

.advantages__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: bold; }
  .advantages__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0; }
  .advantages__item--ecology::before {
    width: 33px;
    height: 38px;
    left: 7px;
    background: url("../img/icon-feature-ecology.svg") no-repeat; }
  .advantages__item--price::before {
    width: 47px;
    height: 27px;
    background: url("../img/icon-feature-price.svg") no-repeat; }
  .advantages__item--likes::before {
    width: 34px;
    height: 27px;
    left: 7px;
    background: url("../img/icon-feature-likes.svg") no-repeat; }
  .advantages__item--handmade::before {
    width: 35px;
    height: 34px;
    left: 3px;
    background: url("../img/icon-feature-handmade.svg") no-repeat; }
  .advantages__item--homeland::before {
    width: 55px;
    height: 23px;
    left: -6px;
    background: url("../img/icon-feature-homeland.svg") no-repeat; }
  .advantages__item--package::before {
    width: 33px;
    height: 32px;
    left: 3px;
    background: url("../img/icon-feature-package.svg") no-repeat; }

.reviews {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  border-bottom: 10px solid grey;
  -o-border-image: url("../img/bg-zigzag-line.svg") 10 100 repeat;
     border-image: url("../img/bg-zigzag-line.svg") 10 100 repeat;
  border-image-slice: 25; }

.reviews__wrapper {
  width: 81.25%;
  margin: 0 auto;
  padding-bottom: 20px; }

.reviews__title {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 50px; }

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  line-height: 29px; }

.reviews__author {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 17px; }

.reviews__author-email {
  margin: 0;
  margin-bottom: 30px; }

.reviews__controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }

.reviews__arrow {
  margin: 0;
  padding: 12px 0;
  width: 50%;
  height: 52px;
  border: none;
  border: 1px solid #ececec;
  color: #000;
  background-color: #fff;
  -webkit-transition: color 0.3 ease;
  transition: color 0.3 ease; }
  .reviews__arrow:hover {
    opacity: 0.6;
    -webkit-transition: color 0.3 ease;
    transition: color 0.3 ease; }
  .reviews__arrow:active {
    opacity: 0.3;
    -webkit-transition: color 0.3 ease;
    transition: color 0.3 ease; }
  .reviews__arrow:nth-child(2) {
    border-left: none; }

.reviews__btn {
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  font-family: "OpenSans", Arial, sans-serif;
  width: 100%;
  height: 52px;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  border: none;
  border: 2px solid #444;
  color: #444;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 30px; }
  .reviews__btn:hover {
    color: #fff;
    background-color: #444;
    border: 2px solid #444;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .reviews__btn:active {
    color: #fff;
    background-color: #444;
    opacity: 0.3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.contacts {
  margin: 0;
  padding: 0;
  padding-bottom: 40px; }

.contacts__wrapper {
  width: 81.25%;
  margin: 0 auto;
  padding-top: 40px; }

.contacts__title {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px; }

.contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 35px;
  font-size: 15px; }
  .contacts__email span {
    margin-right: 30px; }
  .contacts__email a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #63d1bb;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .contacts__email a:hover {
      color: #63d1bb;
      border-bottom: 1px solid #56c3b2;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .contacts__email a:active {
      color: #63d1bb;
      border-bottom: 1px solid #56c3b2;
      opacity: 0.3;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  color: #000; }
  .contacts__address span:nth-child(1) {
    margin-right: 30px; }
  .contacts__address span:nth-child(2) {
    width: 150px; }

.contacts__map {
  margin: 0;
  margin-bottom: 40px;
  background: url("../img/map-mobile@1x.jpg") no-repeat;
  background-size: cover;
  height: 457px; }

.contacts__btn {
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  font-family: "OpenSans", Arial, sans-serif;
  width: 81.25%;
  height: 52px;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  border: none;
  border: 2px solid #444;
  color: #444;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .contacts__btn:hover {
    color: #fff;
    background-color: #444;
    border: 2px solid #444;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .contacts__btn:active {
    color: #fff;
    background-color: #444;
    opacity: 0.3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.page-footer {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #f1f1f1; }

.page-footer__wrapper {
  width: 81.25%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-footer__logo {
  display: none; }

.page-footer__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5; }

.page-footer__copyright {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .page-footer__copyright a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .page-footer__copyright a:hover {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .page-footer__copyright a:hover svg {
        fill: #239f8e; }
    .page-footer__copyright a:active {
      opacity: 0.3;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .page-footer__copyright a svg {
      margin-left: 30px;
      fill: #63d1bb; }

.social-link {
  margin-right: 20px;
  font-size: 0; }
  .social-link svg {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .social-link:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .social-link:hover svg {
      fill: #239f8e; }
  .social-link:active {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.3; }
    .social-link:active svg {
      fill: #239f8e; }

.form {
  margin: 0;
  padding: 0; }

.form__text {
  width: 81.25%;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 26px;
  text-align: left; }

.form__fieldset {
  padding: 0;
  border: none;
  margin-bottom: 10px; }
  .form__fieldset--type {
    margin-bottom: 5px; }

.form__legend {
  width: 81.25%;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  padding-right: 77%;
  font-size: 17px;
  line-height: 17px;
  color: #56c3b2;
  text-transform: uppercase; }
  .form__legend--contacts {
    display: none; }
  .form__legend--type {
    margin-bottom: 8px; }
  .form__legend::after {
    content: "";
    position: absolute;
    width: 76%;
    height: 1px;
    right: 0;
    top: 8px;
    background-color: #56c3b2; }

.form__container {
  width: 81.25%;
  margin: 0 auto; }

.form__group {
  position: relative;
  margin-bottom: 20px; }

.form__radio {
  display: none; }

.form__radio-label {
  position: relative;
  display: table-cell;
  padding-top: 12px;
  padding-left: 60px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .form__radio-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff; }
  .form__radio-label:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .form__radio-label:hover::before {
      border: 2px solid #239f8e; }
  .form__radio-label:active {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .form__radio-label:active::before {
      border: 2px solid #c7c7c7; }

.form__radio:checked + .form__radio-label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-color: #56c3b2;
  border-radius: 50%; }

.form__checkbox {
  display: none; }

.form__checkbox-label {
  position: relative;
  display: block;
  padding: 11px 0;
  padding-left: 64px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .form__checkbox-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    background-color: #fff; }
  .form__checkbox-label:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .form__checkbox-label:hover::before {
      border: 2px solid #239f8e; }
  .form__checkbox-label:active {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .form__checkbox-label:active::before {
      border: 2px solid #c7c7c7; }

.form__checkbox:checked + .form__checkbox-label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 9px;
  width: 22px;
  height: 16px;
  background: url("../img/tick-mobile.png") no-repeat; }

.form__label {
  display: block;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer; }
  .form__label--phone {
    position: relative;
    padding-right: 77%;
    color: #56c3b2;
    text-transform: uppercase; }
    .form__label--phone::after {
      content: "";
      position: absolute;
      width: 76%;
      height: 1px;
      top: 12px;
      right: 0;
      background-color: #56c3b2; }
  .form__label--email {
    position: relative;
    padding-right: 76%;
    color: #56c3b2;
    text-transform: uppercase; }
    .form__label--email::after {
      content: "";
      position: absolute;
      width: 69%;
      height: 1px;
      top: 12px;
      right: 0;
      background-color: #56c3b2; }

.form__input {
  width: 100%;
  padding-right: 40px;
  height: 52px;
  border: none;
  border-bottom: 2px solid #000;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 17px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .form__input:hover {
    border-color: #62d1ba;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .form__input:active {
    border-color: #6bc7b4;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .form__input:focus {
    border-color: #6bc7b4;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.form__input-icon {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .form__input-icon--phone {
    top: 34px;
    right: 8px; }
  .form__input-icon--mail {
    top: 34px;
    right: 4px; }

.form__input:hover + .form__input-icon {
  fill: #62d1ba;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.form__input:active + .form__input-icon {
  fill: #6bc7b4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.form__input:focus + .form__input-icon {
  fill: #6bc7b4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.form__textarea {
  width: 100%;
  padding: 15px;
  border: 2px solid #000;
  font-size: 17px;
  min-height: 142px;
  margin-bottom: 13px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .form__textarea:hover {
    border-color: #62d1ba;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .form__textarea:active {
    border-color: #6bc7b4;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .form__textarea:focus {
    border-color: #6bc7b4;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.form__reminder {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px; }

.form__btn {
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  font-family: "OpenSans", Arial, sans-serif;
  width: 100%;
  height: 52px;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  border: none;
  border: 2px solid #444;
  color: #444;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 50px; }
  .form__btn:hover {
    color: #fff;
    background-color: #444;
    border: 2px solid #444;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .form__btn:active {
    color: #fff;
    background-color: #444;
    opacity: 0.3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.catalog {
  margin: 0;
  padding: 0; }

.catalog__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.catalog__wrapper {
  width: 81.25%;
  margin: 0 auto;
  padding: 30px 0;
  padding-bottom: 0; }

.catalog__item {
  margin: 0;
  margin-bottom: 30px;
  border: 1px solid #ececec; }

.catalog__img {
  display: block;
  font-size: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 25px; }
  .catalog__img img {
    width: 100%;
    height: 100%; }

.catalog__item:hover .catalog__info {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.catalog__item:active .catalog__info {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.catalog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-left: 27px;
  padding-right: 27px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.catalog__item-title {
  display: block;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .catalog__item-title:hover {
    opacity: 0.6;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .catalog__item-title:active {
    opacity: 0.3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .catalog__item-title h3 {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    margin-bottom: 15px; }

.catalog__specs {
  margin: 0;
  font-size: 13px;
  margin-bottom: 25px; }

.catalog__order {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ececec; }

.catalog__price {
  font-size: 15px;
  font-weight: bold; }

.catalog__item-btn {
  font-size: 0; }
  .catalog__item-btn svg {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .catalog__item-btn:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .catalog__item-btn:hover svg {
      fill: #63d1bb; }
  .catalog__item-btn:active {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.3; }

.production {
  margin: 0;
  padding: 0; }

.production__wrapper {
  width: 81.25%;
  margin: 0 auto;
  margin-bottom: 56px;
  padding: 31px 0;
  padding-top: 25px;
  border: 1px solid #ececec;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .production__wrapper:hover {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .production__wrapper:active {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.production__title {
  position: relative;
  margin: 0 33px;
  margin-bottom: 22px;
  padding-left: 64px;
  font-size: 17px;
  font-weight: bold; }
  .production__title::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 32px;
    height: 22px;
    background: url("../img/icons/icon-video.svg") center no-repeat; }

.production__video {
  margin: 0;
  margin-bottom: 18px;
  position: relative;
  width: 100%; }
  .production__video img {
    width: 100%;
    height: 100%; }

.production__play-btn {
  content: "";
  position: absolute;
  cursor: pointer;
  font-size: 0;
  top: 50%;
  left: 50%;
  width: 102px;
  height: 78px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: size 0.3s ease;
  transition: size 0.3s ease; }
  .production__play-btn svg {
    width: 102px;
    height: 78px; }
  .production__play-btn:hover {
    width: 122px;
    height: 94px;
    -webkit-transition: size 0.3s ease;
    transition: size 0.3s ease; }
    .production__play-btn:hover svg {
      width: 122px;
      height: 94px; }
  .production__play-btn:active {
    width: 82px;
    height: 62px;
    -webkit-transition: size 0.3s ease;
    transition: size 0.3s ease;
    opacity: 0.6; }
    .production__play-btn:active svg {
      width: 82px;
      height: 62px; }

.production__description {
  margin: 0 33px; }
  .production__description p {
    margin: 0;
    font-size: 13px;
    margin-bottom: 25px; }
  .production__description a {
    display: block;
    margin: 0 auto;
    padding: 14px 0;
    font-family: "OpenSans", Arial, sans-serif;
    width: 100%;
    height: 52px;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
    border: none;
    border: 2px solid #444;
    color: #444;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .production__description a:hover {
      color: #fff;
      background-color: #444;
      border: 2px solid #444;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .production__description a:active {
      color: #fff;
      background-color: #444;
      opacity: 0.3;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    @media (min-width: 768px) {
  .main-nav__wrapper {
    width: 81.25%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-nav__logo {
    width: 25%;
    text-align: left; }
  .main-nav__toggler {
    display: none; }
  .main-nav__list {
    width: 52%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-nav--closed .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-nav--closed .main-nav__item {
    display: block; }
  .main-nav__item a {
    padding-top: 35px;
    padding-bottom: 35px; }
  .main-nav__item--catalog {
    position: absolute;
    padding: 0;
    top: 90px;
    left: 0;
    border: none; }
    .main-nav__item--catalog a {
      padding: 25px 0;
      font-size: 15px; }
  .main-nav__item--form {
    position: absolute;
    padding: 0;
    top: 90px;
    left: 25%;
    border: none; }
    .main-nav__item--form a {
      padding: 25px 0;
      font-size: 15px; }
  .main-nav__item--search {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    width: 85px; }
    .main-nav__item--search a {
      padding: 35px 30px;
      text-indent: -2000px; }
  .main-nav__item--cart a {
    padding-left: 80px; }
  .main-nav__icon-search {
    height: 19px;
    top: 36px;
    left: 35px; }
  .main-nav__icon-cart {
    top: 35px;
    width: 21px;
    height: 18px; }
    .promo__title {
      width: 86.98%;
      max-width: 1000px; }
  .promo {
    position: relative;
    border-bottom: 15px solid gray;
    -o-border-image: url(../img/bg-zigzag-fill.svg) 15 100 repeat;
       border-image: url(../img/bg-zigzag-fill.svg) 15 100 repeat;
    border-image-slice: 58; }
    .promo--index {
      border: none;
      background: url("../img/hero-tablet@1x.jpg") top center no-repeat;
      background-size: cover; }
  .promo__wrapper {
    width: 81.25%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 80px; }
    .promo__wrapper--index {
      padding-top: 75px;
      padding-bottom: 0; }
  .promo__shifting {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 6.5%;
    margin: 0;
    padding: 25px 0;
    font-size: 15px;
    line-height: 18px; }
  .promo__title {
    font-size: 43px;
    line-height: 50px; }
    .promo__title--index {
      width: 520px;
      padding-top: 160px;
      padding-bottom: 248px; }
  .promo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .promo__link {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .promo__link:hover {
      opacity: 0.6;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .promo__link:active {
      opacity: 0.6;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .promo__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .product__wrapper {
      width: 86.98%;
      max-width: 1000px; }
  .product {
    position: relative;
    border-bottom: none;
    border-top: 14px solid grey;
    -o-border-image: url("../img/bg-zigzag-fill.svg") 14 100 repeat;
       border-image: url("../img/bg-zigzag-fill.svg") 14 100 repeat;
    border-image-slice: 25;
    border-image-outset: 14px; }
  .product__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .product__title {
    width: 100%;
    font-size: 43px;
    line-height: 47px;
    margin-bottom: 50px; }
    .product__title span {
      display: inline-block;
      width: 75px;
      text-align: center;
      margin-left: 18%; }
  .product__desc {
    width: 40%; }
  .product__img {
    width: 40%;
    min-width: 333px; }
    .product__img img {
      width: 333px; }
  .product__order-block {
    position: absolute;
    width: 40%;
    bottom: 40px; }
    .advantages__wrapper {
      width: 86.98%;
      max-width: 1000px; }
  .advantages {
    border-top: 10px solid grey;
    -o-border-image: url("../img/bg-zigzag-line.svg") 10 100 repeat;
       border-image: url("../img/bg-zigzag-line.svg") 10 100 repeat;
    border-image-slice: 25; }
  .advantages__wrapper {
    padding: 45px 0; }
  .advantages__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 50px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advantages__item {
    width: 45%; }
    .advantages__item--ecology {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .advantages__item--handmade {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .advantages__item--price {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .advantages__item--homeland {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4; }
    .advantages__item--likes {
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5; }
    .advantages__item--package {
      -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
              order: 6; }
    .reviews__wrapper {
      width: 86.98%;
      max-width: 1000px; }
  .reviews {
    border-bottom: none;
    background: url("../img/review@1x.jpg") left top no-repeat;
    margin-bottom: 50px; }
  .reviews__wrapper {
    position: relative;
    padding: 50px 0;
    padding-bottom: 20px; }
  .reviews__title {
    font-size: 43px;
    line-height: 50px; }
  .reviews__controls {
    content: "";
    position: absolute;
    bottom: 45px;
    right: 0;
    width: 150px; }
  .reviews__arrow {
    border: none; }
  .reviews__btn {
    content: "";
    position: absolute;
    top: 45px;
    right: 0;
    width: 150px; }
    .contacts__wrapper {
      width: 86.98%;
      max-width: 1000px; }
  .contacts {
    border-top: 10px solid grey;
    -o-border-image: url("../img/bg-zigzag-line.svg") 10 100 repeat;
       border-image: url("../img/bg-zigzag-line.svg") 10 100 repeat;
    border-image-slice: 25; }
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contacts__title {
    width: 100%;
    font-size: 43px;
    line-height: 50px;
    position: relative; }
    .contacts__title::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 47px;
      height: 82px;
      background: url("../img/icons/icon-flag.svg") no-repeat; }
  .contacts__email {
    width: 45%; }
  .contacts__email-link {
    height: 26px; }
  .contacts__address {
    width: 45%; }
    .contacts__address span:nth-child(2) {
      width: 200px; }
  .contacts__map {
    background-image: url("../img/map-tablet@1x.jpg");
    height: 457px; }
  .contacts__btn {
    width: 250px;
    margin: 0 auto; }
    .page-footer__wrapper {
      width: 86.98%;
      max-width: 1000px; }
  .page-footer__wrapper {
    padding: 15px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .page-footer__logo {
    width: 33%;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .page-footer__logo:hover {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .page-footer__logo:hover svg {
        fill: #239f8e; }
    .page-footer__logo:active {
      opacity: 0.3;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .page-footer__social {
    width: 33%; }
  .page-footer__copyright {
    width: 33%; }
    .form__text {
      width: 86.98%;
      max-width: 1000px; }
    .form__legend {
      width: 86.98%;
      max-width: 1000px; }
    .form__container {
      width: 86.98%;
      max-width: 1000px; }
  .form__text {
    font-size: 17px;
    padding-top: 60px;
    margin-bottom: 0; }
  .form__fieldset {
    position: relative; }
    .form__fieldset--color {
      background-color: #ececec;
      margin-bottom: 0; }
    .form__fieldset--contacts {
      background-color: #ececec; }
  .form__legend {
    content: "";
    position: absolute;
    top: 65px;
    left: 6.5%;
    font-weight: bold; }
    .form__legend::after {
      content: none; }
  .form__group {
    margin-bottom: 24px; }
    .form__group--color {
      width: 50%; }
    .form__group--initials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .form__group--contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .form__container {
    width: 65%;
    margin-left: 22%;
    padding-top: 50px;
    padding-bottom: 30px; }
    .form__container--color {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .form__container--initials {
      padding-top: 60px; }
    .form__container--btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 86.98%;
      margin: 0 auto;
      padding-top: 5px; }
  .form__radio-label {
    padding-top: 0;
    padding-left: 80px;
    font-size: 19px;
    line-height: 52px; }
    .form__radio-label::before {
      width: 52px;
      height: 52px; }
  .form__radio:checked + .form__radio-label::after {
    left: 15px;
    top: 15px;
    width: 21px;
    height: 21px; }
  .form__checkbox-label {
    padding: 0;
    padding-left: 80px;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 54px; }
    .form__checkbox-label::before {
      width: 54px;
      height: 54px;
      background-color: #ececec; }
  .form__checkbox:checked + .form__checkbox-label::after {
    top: 16px;
    left: 11px;
    width: 33px;
    height: 22px;
    background: url("../img/tick-tablet.png") no-repeat; }
  .form__label {
    font-size: 19px;
    line-height: 52px;
    margin-right: 20px; }
    .form__label--phone {
      position: absolute;
      top: 0;
      left: -22%;
      padding-right: 0; }
      .form__label--phone::after {
        content: none; }
    .form__label--email {
      position: absolute;
      top: 0;
      left: -22%;
      padding-right: 0; }
      .form__label--email::after {
        content: none; }
  .form__input {
    font-size: 19px;
    padding-left: 15px;
    padding-right: 60px; }
    .form__input--email {
      background-color: #ececec; }
    .form__input--phone {
      background-color: #ececec; }
  .form__input-icon--phone {
    top: 19px;
    right: 26px; }
  .form__input-icon--mail {
    top: 15px;
    right: 22px; }
  .form__textarea {
    font-size: 19px; }
  .form__reminder {
    font-size: 17px;
    margin-bottom: 0; }
  .form__btn {
    width: 230px;
    margin-bottom: 0; }
    .catalog__wrapper {
      width: 86.98%;
      max-width: 1000px; }
  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .catalog__img {
    width: 50%;
    margin: 0; }
  .catalog__info {
    width: 50%;
    padding: 25px;
    padding-bottom: 0; }
  .catalog__item-title {
    font-size: 20px; }
  .catalog__specs {
    font-size: 15px;
    margin-bottom: 25px; }
  .catalog__order {
    margin-bottom: 20px; }
  .catalog__price {
    font-size: 17px; }
    .production__wrapper {
      width: 86.98%;
      max-width: 1000px; }
  .production__wrapper {
    position: relative;
    padding-top: 0; }
  .production__title {
    position: absolute;
    margin: 0 40px;
    top: 515px;
    left: 0;
    font-size: 20px; }
    .production__title::before {
      top: 0; }
  .production__video {
    margin-bottom: 100px; }
  .production__description {
    margin: 0 40px; }
    .production__description p {
      font-size: 15px;
      margin-bottom: 33px; } }
    @media (min-width: 768px) and (min-width: 768px) {
    .main-nav__wrapper {
      width: 86.98%;
      max-width: 1000px; }
    .promo__wrapper {
      width: 86.98%;
      max-width: 1000px; } }
    @media (min-width: 768px) and (min-width: 1150px) {
    .main-nav__wrapper {
      width: 84%;
      max-width: 1300px; }
    .promo__wrapper {
      width: 84%;
      max-width: 1300px; } }
    @media (min-width: 1150px) {
  .main-nav__logo {
    content: "";
    position: absolute;
    padding: 0;
    width: 149px;
    left: 50%;
    top: 10px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .main-nav__logo img {
      width: 149px;
      height: 72px; }
  .main-nav__list {
    width: 100%; }
  .main-nav__item--catalog {
    min-width: 183px;
    width: 18.4%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: static;
    padding-right: 24px;
    border-right: 1px solid #ececec; }
    .main-nav__item--catalog a {
      padding-top: 35px;
      padding-bottom: 35px;
      font-size: 17px;
      line-height: 18px; }
  .main-nav__item--form {
    min-width: 195px;
    width: 21%;
    margin-right: 26.5%;
    padding-left: 35px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: static; }
    .main-nav__item--form a {
      padding-top: 35px;
      padding-bottom: 35px;
      font-size: 17px;
      line-height: 18px; }
  .main-nav__item--search {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    width: 85px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
    .main-nav__item--search a {
      padding: 35px 30px;
      text-indent: -2000px; }
  .main-nav__item--cart {
    min-width: 267px;
    width: 28%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
    .main-nav__item--cart a {
      padding-left: 80px; }
    .promo__title {
      width: 84%;
      max-width: 1300px; }
  .promo {
    border-bottom: 23px solid gray;
    -o-border-image: url(../img/bg-zigzag-fill.svg) 23 100 repeat;
       border-image: url(../img/bg-zigzag-fill.svg) 23 100 repeat;
    border-image-slice: 58; }
    .promo--index {
      background: url("../img/hero-desktop@1x.jpg") top center no-repeat;
      background-size: cover;
      border: none; }
  .promo__links {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 8.7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
  .promo__link {
    margin: 0;
    padding: 20px 0;
    margin-right: 59px; }
    .promo__link a {
      text-decoration: none;
      color: #000;
      font-size: 15px;
      font-weight: bold; }
  .promo__title {
    width: 700px;
    font-size: 53px;
    line-height: 60px; }
    .product__wrapper {
      width: 84%;
      max-width: 1300px; }
  .product__wrapper {
    padding: 55px 0; }
  .product__title {
    content: "";
    position: absolute;
    width: 710px;
    top: 105px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 53px;
    line-height: 60px; }
    .product__title span {
      margin: 0 50px;
      line-height: 17px; }
  .product__desc {
    width: 25%;
    margin-top: 160px;
    margin-left: 175px; }
  .product__text {
    font-size: 17px; }
  .product__specs {
    font-size: 15px; }
  .product__specs-row {
    padding: 8px 0; }
    .product__specs-row span:nth-child(1) {
      width: 70px; }
  .product__order-block {
    width: 25%;
    margin-left: 175px;
    bottom: 75px; }
  .product__img {
    min-width: 525px;
    width: 42%; }
    .product__img img {
      width: 525px;
      height: 636px; }
    .advantages__wrapper {
      width: 84%;
      max-width: 1300px; }
  .advantages {
    border: none; }
  .advantages__wrapper {
    border-top: 20px solid grey;
    -o-border-image: url("../img/bg-zigzag-line.svg") 20 100 repeat;
       border-image: url("../img/bg-zigzag-line.svg") 20 100 repeat;
    border-image-slice: 25;
    padding: 65px 0; }
  .advantages__title {
    font-size: 53px;
    line-height: 60px; }
  .advantages__item {
    max-width: 300px;
    margin-right: 175px; }
    .reviews__wrapper {
      width: 84%;
      max-width: 1300px; }
  .reviews__wrapper {
    padding: 70px 0; }
  .reviews__title {
    font-size: 53px;
    line-height: 60px; }
    .contacts__wrapper {
      width: 84%;
      max-width: 1300px; }
  .contacts {
    width: 81.25%;
    margin: 0 auto;
    position: relative;
    border-top: 20px solid grey;
    -o-border-image: url("../img/bg-zigzag-line.svg") 20 100 repeat;
       border-image: url("../img/bg-zigzag-line.svg") 20 100 repeat;
    border-image-slice: 25;
    padding: 65px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .contacts__wrapper {
    width: 50%;
    padding-top: 40px; }
  .contacts__title {
    font-size: 53px;
    line-height: 60px;
    padding-left: 175px;
    padding-top: 20px;
    margin-bottom: 50px; }
    .contacts__title::after {
      left: 4%;
      right: auto; }
  .contacts__email {
    display: block;
    padding-left: 175px;
    width: 100%;
    margin-bottom: 30px; }
  .contacts__address {
    display: block;
    padding-left: 175px;
    width: 100%; }
  .contacts__map {
    width: 50%;
    background-image: url("../img/map-desktop@1x.jpg"); }
  .contacts__btn {
    content: "";
    position: absolute;
    bottom: 105px;
    left: 175px; }
    .page-footer__wrapper {
      width: 84%;
      max-width: 1300px; }
    .form__text {
      width: 84%;
      max-width: 1300px; }
    .form__legend {
      width: 84%;
      max-width: 1300px; }
    .form__container {
      width: 84%;
      max-width: 1300px; }
  .form__text {
    padding-top: 120px; }
  .form__container {
    width: 56%; }
    .form__container--color {
      width: 59%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .form__container--btn {
      width: 56%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .form__group--color {
    width: 30%; }
  .form__btn {
    margin: 0; }
    .catalog__wrapper {
      width: 84%;
      max-width: 1300px; }
  .catalog__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .catalog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 316px; }
  .catalog__img {
    width: 316px;
    height: 462px; }
  .catalog__info {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .production__wrapper {
      width: 84%;
      max-width: 1300px; }
  .production__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
    margin-bottom: 105px; }
  .production__video {
    width: 67%;
    margin-bottom: 0; }
  .production__title {
    width: 23%;
    margin: 0;
    padding-left: 0;
    padding-top: 65px;
    top: 43px;
    right: 55px;
    left: auto; }
    .production__title::before {
      top: 0; }
  .production__description {
    width: 23%;
    margin-left: 80px;
    margin-right: 55px;
    margin-top: 180px; } }
    @media (min-width: 1150px) and (min-width: 768px) {
    .contacts {
      width: 86.98%;
      max-width: 1000px; } }
    @media (min-width: 1150px) and (min-width: 1150px) {
    .contacts {
      width: 84%;
      max-width: 1300px; } }
