.advantages {
  margin: 0;
  padding: 0;
}

.advantages__wrapper {
  @include container;
  padding: 20px 0;
}

.advantages__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }

  &--ecology {
    &::before {
      width: 33px;
      height: 38px;
      left: 7px;
      background: url("../img/icon-feature-ecology.svg") no-repeat;
    }
  }

  &--price {
    &::before {
      width: 47px;
      height: 27px;
      background: url("../img/icon-feature-price.svg") no-repeat;
    }
  }

  &--likes {
    &::before {
      width: 34px;
      height: 27px;
      left: 7px;
      background: url("../img/icon-feature-likes.svg") no-repeat;
    }
  }

  &--handmade {
    &::before {
      width: 35px;
      height: 34px;
      left: 3px;
      background: url("../img/icon-feature-handmade.svg") no-repeat;
    }
  }

  &--homeland {
    &::before {
      width: 55px;
      height: 23px;
      left: -6px;
      background: url("../img/icon-feature-homeland.svg") no-repeat;
    }
  }

  &--package {
    &::before {
      width: 33px;
      height: 32px;
      left: 3px;
      background: url("../img/icon-feature-package.svg") no-repeat;
    }
  }
}