.contacts {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.contacts__wrapper {
  @include container;
  padding-top: 40px;
}

.contacts__title {
  font-size: 25px;
	line-height: 25px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 30px;
}

.contacts__email {
  display: flex;
  margin: 0;
  margin-bottom: 35px;
  font-size: 15px;

  span {
    margin-right: 30px;
  }

  a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid $lightgreen;
  }
}

.contacts__address {
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  color: #000;

  span {
    &:nth-child(1) {
      margin-right: 30px;
    }

    &:nth-child(2) {
      width: 150px;
    }
  }
}

.contacts__map {
  margin: 0;
  margin-bottom: 40px;
  background: url("../img/map-mobile@1x.jpg") no-repeat;
  background-size: cover;
  height: 457px;
}

.contacts__btn {
  @include btn(81.25%, 52px, #fff, #000);
}

@media #{$tablet-widths} {
  .contacts {
    border-top: 10px solid grey;
    border-image: url("../img/bg-zigzag-line.svg") 10 100 repeat;
    border-image-slice: 25;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__title {
    width: 100%;
		font-size: 43px;
    line-height: 50px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 47px;
      height: 82px;
      background: url("../img/icons/icon-flag.svg") no-repeat;
    }
  }

  .contacts__email {
    width: 45%;
  }

  .contacts__email-link {
    height: 26px;
  }

  .contacts__address {
    width: 45%;

    span {

      &:nth-child(2) {
        width: 200px;
      }
    }
  }

  .contacts__map {
    background-image: url("../img/map-tablet@1x.jpg");
    height: 457px;
  }

  .contacts__btn {
    width: 250px;
    margin: 0 auto;
  }
}

@media #{$desktop-widths} {
  .contacts {
    @include container;
    position: relative;
    border-top: 20px solid grey;
    border-image: url("../img/bg-zigzag-line.svg") 20 100 repeat;
    border-image-slice: 25;
    padding: 65px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .contacts__wrapper {
    width: 50%;
    padding-top: 40px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 60px;
    padding-left: 175px;
    padding-top: 20px;
    margin-bottom: 50px;

    &::after {
      left: 4%;
      right: auto;
    }
  }

  .contacts__email {
    display: block;
    padding-left: 175px;
    width: 100%;
    margin-bottom: 30px;
  }

  .contacts__address {
    display: block;
    padding-left: 175px;
    width: 100%;
  }

  .contacts__map {
    width: 50%;
    background-image: url("../img/map-desktop@1x.jpg");
  }

  .contacts__btn {
    content: "";
    position: absolute;
    bottom: 105px;
    left: 175px;
  }
}