.form {
  margin: 0;
  padding: 0;    
}

.form__text {
  @include container;
  padding-top: 20px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 26px;
  text-align: left;
}

.form__fieldset {
  padding: 0;
  border: none;
  margin-bottom: 10px;

  &--type {
    margin-bottom: 5px;
  }
}

.form__legend {
  @include container;
  margin-bottom: 20px;
  position: relative;
  padding-right: 77%;
  font-size: 17px;
  line-height: 17px;
  color: $green;
  text-transform: uppercase;

  &--contacts {
    display: none;
  }

  &--type {
    margin-bottom: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 76%;
    height: 1px;
    right: 0;
    top: 8px;
    background-color: $green;
  }
}

.form__container {
  @include container;
}

.form__group {
  position: relative;
  margin-bottom: 20px;
}

.form__radio {
  display: none;
}

.form__radio-label {
  position: relative;
  display: table-cell;
  padding-top: 12px;
  padding-left: 60px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
  }
}

.form__radio:checked+.form__radio-label::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: $green;
    border-radius: 50%;
}

.form__checkbox {
  display: none;
}

.form__checkbox-label {
  position: relative;
  display: block;
  padding: 11px 0;
  padding-left: 64px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    background-color: #fff;
  }
}

.form__checkbox:checked+.form__checkbox-label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 9px;
  width: 22px;
  height: 16px;
  background: url("../img/tick-mobile.png") no-repeat;
}

.form__label {
  display: block;
  font-size: 17px;
  font-weight: bold;

  &--phone {
    position: relative;
    padding-right: 77%;
    color: $green;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      width: 76%;
      height: 1px;
      top: 12px;
      right: 0;
      background-color: $green;
    }
  }

  &--email {
    position: relative;
    padding-right: 76%;
    color: $green;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      width: 69%;
      height: 1px;
      top: 12px;
      right: 0;
      background-color: $green;
    }
  }
}

.form__input  {
  width: 100%;
  padding-right: 40px;
  height: 52px;
  border: none;
  border-bottom: 2px solid #000;
  font-family: $font-family;
  font-size: 17px;
}

.form__input-icon {
  content: "";
  position: absolute;

  &--phone {
    top: 34px;
    right: 8px;
  }

  &--mail {
    top: 34px;
    right: 4px;
  }
}

.form__textarea {
  width: 100%;
  padding: 15px;
  border: 2px solid #000;
  font-size: 17px;
  min-height: 142px;
  margin-bottom: 13px;
}

.form__reminder {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
}

.form__btn {
  @include btn(100%, 52px, #fff, #000);
  margin-bottom: 50px;
}

@media #{$tablet-widths} {
  .form__text {
    font-size: 17px;
    padding-top: 60px;
    margin-bottom: 0;
  }

  .form__fieldset {
    position: relative;

    &--color {
      background-color: $grey;
      margin-bottom: 0;
    }

    &--contacts {
      background-color: $grey;
    }
  }

  .form__legend {
    content: "";
    position: absolute;
    top: 65px;
    left: 6.5%;
    font-weight: bold;

    &::after {
      content: none;
    }
  }

  .form__group {
    margin-bottom: 24px;

    &--color {
      width: 50%;
    }

    &--initials {
      display: flex;
    }

    &--contacts {
      display: flex;
    }
  }

  .form__container {
    width: 65%;
    margin-left: 22%;
    padding-top: 50px;
    padding-bottom: 30px;

    &--color {
      display: flex;
      flex-wrap: wrap;
    }

    &--initials {
      padding-top: 60px;
    }

    &--btn {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      width: 86.98%;
      margin: 0 auto;
      padding-top: 5px;
    }
  }

  .form__radio-label {
    padding-top: 0;
    padding-left: 80px;
    font-size: 19px;
    line-height: 52px;

    &::before {
      width: 52px;
      height: 52px;
    }
  }

  .form__radio:checked+.form__radio-label::after {
    left: 15px;
    top: 15px;
    width: 21px;
    height: 21px;
  }

  .form__checkbox-label {
    padding: 0;
    padding-left: 80px;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 54px;

    &::before {
      width: 54px;
      height: 54px;
      background-color: $grey;
    }
  }

  .form__checkbox:checked+.form__checkbox-label::after {
    top: 16px;
    left: 11px;
    width: 33px;
    height: 22px;
    background: url("../img/tick-tablet.png") no-repeat;
  }

  .form__label {
    font-size: 19px;
    line-height: 52px;
    margin-right: 20px;

    &--phone {
      position: absolute;
      top: 0;
      left: -22%;
      padding-right: 0;
      &::after {
        content: none;
      }
    }

    &--email {
      position: absolute;
      top: 0;
      left: -22%;
      padding-right: 0;
      &::after {
        content: none;
      }
    }
  }

  .form__input {
    font-size: 19px;
    padding-left: 15px;
    padding-right: 60px;

    &--email {
      background-color: $grey;
    }

    &--phone {
      background-color: $grey;
    }
    
  }

  .form__input-icon {
    &--phone {
      top: 19px;
      right: 26px;
    }

    &--mail {
      top: 15px;
      right: 22px;
    }
  }

  .form__textarea {
    font-size: 19px;
  }

  .form__reminder {
    font-size: 17px;
    margin-bottom: 0;
  }

  .form__btn {
    width: 230px;
    margin-bottom: 0;
  }
}

@media #{$desktop-widths} {
  .form__text {
    padding-top: 120px;
  }

  .form__container {
    width: 56%;

    &--color {
      width: 59%;
      justify-content: space-between;
    }

    &--btn {
      width: 56%;
      justify-content: space-between;
    }
  }

  .form__group {
    &--color {
      width: 30%;
    }
  }

  .form__btn {
    margin: 0;
  }
}