.reviews {
  margin: 0;
  padding: 0;
  color: #000;
	background-color: #fff;
	border-bottom: 10px solid grey;
	border-image: url("../img/bg-zigzag-line.svg") 10 100 repeat;
	border-image-slice: 25;
}

.reviews__wrapper {
  @include container;
  padding-bottom: 20px;
}

.reviews__title {
  font-size: 25px;
	line-height: 25px;
	font-weight: bold;
	margin: 0;
  margin-bottom: 50px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  line-height: 29px;
}

.reviews__author {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 17px;
}

.reviews__author-email {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__controls {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.reviews__arrow {
  margin: 0;
  padding: 12px 0;
  width: 50%;
  height: 52px;
  border: none;
  border: 1px solid $grey;
  color: #000;
  background-color: #fff;

  &:nth-child(2) {
    border-left: none;
  }
}

.reviews__btn {
  @include btn(100%, 52px, #fff, #000);
  margin-bottom: 30px;
}

@media #{$tablet-widths} {
  .reviews {
    border-bottom: none;
    background: url("../img/review@1x.jpg") left top no-repeat;
    margin-bottom: 50px;
  }

  .reviews__wrapper {
    position: relative;
    padding: 50px 0;
    padding-bottom: 20px;
  }

  .reviews__title {
		font-size: 43px;
		line-height: 50px;
  }

  .reviews__controls {
    content: "";
    position: absolute;
    bottom: 45px;
    right: 0;
    width: 150px;
  }

  .reviews__arrow {
    border: none;
  }

  .reviews__btn {
    content: "";
    position: absolute;
    top: 45px;
    right: 0;
    width: 150px;
  }
}

@media #{$desktop-widths} {
  .reviews__wrapper {
    padding: 70px 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 60px;
  }
}